.filters{

  &--full{
    .filters__inner{
      box-shadow: none;
    }

    .filters__form {
      padding: 0;
    }
  }

  &__inner{
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }

  &__form{
    display: flex;
    flex-wrap: wrap;
    padding: 33px 39px 40px;
  }

  &__title{
    width: 100%;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #141414;
    margin-bottom: 25px;
  }

  &__content{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__row{
    display: flex;
    margin: 0 -15px;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__col{
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;

    .multiselect{
      margin-bottom: 20px;
    }
  }

  &__checkbox{

  }

  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--column{
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__btn-i{
    width: 50%;
    max-width: 200px;
    justify-content: center;
  }

  &__btn-full{
    width: 100%;
    justify-content: center;
  }

  &__btn-reset{
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #525252;

    &:hover{
      text-decoration-line: none;
    }
  }

  &__calendar-fields{
    display: flex;

    .ui-btn{
      margin-left: 30px;
      height: 56px;
    }
  }

  &__calendar-field{
    padding: 0 5px !important;
    text-align: center !important;
    margin-right: 10px;

    &--small{
      min-width: 60px;
      max-width: 60px;
    }
    &--big{
      min-width: 80px;
      max-width: 80px;
    }

  }

  &__selected{
    margin-bottom: 20px;
  }

  &__selected-name{
    font-size: 16px;
    line-height: 26px;
    color: #141414;
  }

  &__selected-txt{
    font-size: 16px;
    line-height: 26px;
    color: #141414;
    font-weight: bold;
  }

  .multiselect .multiselect__tags{
    min-height: 56px;
    display: flex;
    align-items: center;
  }

}

.filters--full .filters__row .filters__col .ui-input + .ui-input{
  margin-top: 23px;
}

.filters__btn-reset--mobile{
  display: none;
}

@media (max-width: 1300px){
  .filters__form{
    padding: 20px;
  }
}

@media (max-width: 992px){

}

@media (min-width: 701px) and (max-width: 992px){
  .filters__inner{
    background: transparent;
    box-shadow: none;
    margin-bottom: 40px;
  }

  .filters__row{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -24px;
  }

  .filters__col{
    width: 50%;

    &:nth-child(odd){
      padding: 0 24px 0 5px;
    }

    &:nth-child(even){
      padding: 0 5px 0 24px;
    }
  }


  .filters--full{
    padding: 0 24px;

    .filters__bottom{
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: white;
      z-index: 10;
      margin: 0;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

      height: 134px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .filters__selected{
      display: none;
    }

    .filters__btn-full{
      max-width: 340px;
      margin-left: 20px;
    }

    .filters__btn-reset--mobile{
      display: block;
    }
  }

  .filters__title{
    text-align: start;
    font-size: 20px;
    line-height: 24px;
    margin-left: -20px;
  }

  .filters__bottom{
    margin: 0 -24px;
    justify-content: flex-start;
  }

  .filters__btn-i{
    max-width: calc(50% - 48px);
    margin-left: 24px;
  }

  .filters__btn-reset{
    padding: 0 24px;
    margin-left: 24px;
  }

  .filters__calendar-fields .ui-btn{
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .filters__mobile-row-wrap{
    display: flex;
    width: 100%;
    justify-content: space-between;

    .filters__row{
      width: 50%;
    }

    &--slier{
      .filters__row{

        .ui-form-col{
          padding-right: 0;
        }

        .filters__col{
          padding: 0;
        }

        &:last-child{
          display: flex;
          flex-direction: column;

          .filters__col{
            width: 100%;
          }
        }
        &:last-child{
          //order: -1;
        }
      }
    }

    .checkout-content .slider {
      margin-top: 25px;
    }

  }


}


@media (max-width: 700px) {

  .filters:not(.filters--full) {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: .3s;

    &.show {
      z-index: 10;
      opacity: 1;
      visibility: visible;
    }
  }

  .filters__inner {
    box-shadow: none;
    height: 100%;
  }

  .filters__form {
    height: 100%;
  }

  .filters__content {
    height: calc(100% - 120px);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .filters__bottom {
    margin-top: auto;
    position: absolute;
    height: 80px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
  }

  .filters__btn-i {
    max-width: 220px;
    width: 100%;
  }

  .filters--full {
    padding: 0 24px;
    margin-bottom: 70px;

    .filters__bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: white;
      z-index: 10;
      margin: 0;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

      height: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .filters__selected {
      display: none;
    }

    .filters__btn-full {
      max-width: 220px;
      margin-left: 20px;
      font-size: 14px;
      padding: 0;
    }

    .filters__btn-reset--mobile {
      display: block;
    }
  }
}


@media (max-width: 550px) {
  .filters--full{
    padding: 0;

    .filters__content {
      overflow-x: visible;
      overflow-y: visible;
    }
  }

  .filters__calendar-fields .ui-btn {
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }

  .checkout-content .slider{
    padding: 0 10px;
  }

  .checkout__item-right{
    flex-wrap: wrap;
  }

  .checkout__item-links {
    display: flex;
    margin: 10px -8px 0;
  }

  .checkout__item-link {
    padding: 0 8px;
  }

  .filters__calendar-field--small {
    min-width: 48px;
    max-width: 48px;
  }

  .filters__calendar-field--big {
    min-width: 60px;
    max-width: 60px;
  }

}


