/*projects block start*/

.projects{

  &__list{
    display: flex;
    flex-direction: column;
  }

  &__item{
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #F0F0F0;
    position: relative;

    &--load-more{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100px;
      border-bottom: 0;
    }
  }

  &__info{
    display: flex;
    width: 100%;
  }

  &__img{
    max-width: 120px;
    width: 100%;
    height: 80px;

    img{
      width: 100%;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  &__txt{
    padding-left: 19px;
  }

  &__name{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    color: #141414;
    margin-bottom: 10px;
    min-height: 20px;
    padding-right: 200px;

    span{
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #A4A4A4;
      padding-left: 20px;
      position: relative;
      margin-left: 15px;

      &:before{
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("../../../assets/img/ico/hummer-ico.svg") center/contain no-repeat;
      }
    }
  }

  &__description{
    font-size: 16px;
    line-height: 24px;
    color: #525252;
    margin-bottom: 15px;
    min-height: 20px;
    padding-right: 200px;
    max-width: 420px;
    box-sizing: content-box;
  }

  &__properties{
    display: flex;
    flex-wrap: wrap;
  }

  &__properties-item{
    margin-right: 10px;
    background: #F0F0F0;
    border-radius: 6px;
    padding: 7px 15px 5px;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #525252;
    white-space: nowrap;
    margin-bottom: 10px;

    &:last-child{
      margin-right: 0;
    }
  }

  &__btn{
    display: flex;
    width: 190px;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: flex-end;
  }

  &__btn-i{
    display: flex;
    width: 56px;
    height: 56px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    background: #F0F0F0;
    border-radius: 6px;
    border: 0;
    padding: 0;
    transition: .3s;
    cursor: pointer;

    &:first-child{
      margin-left: 0;
    }


    &:hover{
      background: #D23D20;

      svg path{
        fill: white;
      }
    }

    &--red{
      background: #D23D20;

      &:hover{
        background: #EB4B2C;
        box-shadow: 0px 8px 20px rgba(210, 61, 32, 0.3);
      }
    }
  }

  &__btn-ico{

    svg path{
      transition: .3s;
    }

    &--like{
      svg{
        margin-top: 5px;
      }
    }
  }

  &__item-more-ico{
    margin-bottom: 15px;

    svg{
      transition: 1s;
    }
  }

  &__item--load-more:hover &__item-more-ico svg{
    transform: rotate(180deg);
  }

  &__item-more-txt{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #141414;
  }

  &__studio{
    display: flex;
    max-width: 420px;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }

  &__studio-ico{
    max-width: 60px;
    width: 100%;
    height: 60px;
    border-radius: 50%;

  }
  &__studio-ico-inner{
    padding: 10px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 6px 30px rgba(0, 0, 0, 0.1));

    img{
      width: 40px;
      height: 40px;
      object-fit: contain;
      overflow: hidden;
    }
  }


  &__studio-count{
    position: absolute;
    left: -12px;
    top: -12px;
    width: 28px;
    height: 28px;
    color: white;
    background: #D23D20;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__studio-info{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  &__studio-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #141414;
  }

  &__studio-time{
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #A4A4A4;

    span:first-child{
      margin-right: 20px;
    }
  }

  &__studio-btn{
    margin-left: auto;
    max-width: 160px;
    width: 100%;
  }

  &__studio-btn-i{
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 46px;
  }

  &__container{
    display: flex;
    flex-wrap: wrap;
  }

  &__row{
    display: flex;
    //flex-wrap: wrap;
    margin: 0 -15px;
    margin: 0 -15px;
    width: 100%;
    margin-bottom: 30px;

    &:last-child{
      margin-bottom: 0;
    }
  }
  &__col{
    width: 100%;
    max-width: 100%;
    padding: 0 15px;


    &--2{
      width: 50%;
    }

    .requests__item{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

  }

  &__col-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #141414;
    margin-bottom: 20px;
  }

  &__rate{
    max-width: 443px;
    width: 100%;
  }
  &__rate-stars{
    margin-bottom: 15px;
  }

  &__rate-txt{
    font-size: 16px;
    line-height: 24px;
    color: #525252;

  }

}


@media (max-width: 992px){
  .projects__rate{
    max-width: 334px;
  }
}

@media (max-width: 700px){

  .projects__info{
    flex-direction: column;
  }

  .projects__img{
    margin-bottom: 20px;
  }

  .projects__txt{
    padding-left: 0;
  }

  .projects__name,
  .projects__description{
    padding-right: 0;
    max-width: 100%;
  }

  .projects__btn {
    width: 155px;
  }

  .projects__btn-i{
    width: 48px;
    height: 48px;
  }

  .projects__studio{
    flex-wrap: wrap;
    max-width: 100%;
  }

  .projects__studio-info{
    width: calc(100% - 60px);
  }

  .projects__studio-btn{
    margin-left: 80px;
  }

  .projects__studio-count{
    right: 0;
    left: auto;
    top: 0;
  }

  .projects__col--2{
    width: 100%;
  }

  .projects__row{
    flex-wrap: wrap;
  }

  .projects__rate{
    max-width: 100%;
  }

  .projects__requests{
    //margin-bottom: 30px;
  }

  .projects__requests .requests__right{
    display: none;
  }

}

/*projects block end*/
